@model FE.W.Models.Distribuidor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Distribuidor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaDistribuidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaDistribuidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDistribuidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDistribuidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoDistribuidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoDistribuidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Provincia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoDistribuidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoDistribuidor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDistribuidor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
