@model IEnumerable<FE.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Agregar Nuevo Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CedulaCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCliente">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCliente">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCliente">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
